ignore

apps/1__pycache__
apps/test_apps.py
apps/input/message.txt
apps/input/sendDM_userlist.csv
apps/input/omit_userlist.csv
apps/input/omit_words.csv
apps/input/userlist_list.csv
apps/input/post_img
apps/input/omit_g
apps/config.ini